.addressContainer{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
.mt-20 {
    margin-top: 20px;
}
.searchTitle span{
    font-family: 'weblysleekuisb';
    font-weight: 600
}
.searchTitle p{
    font-family: 'weblysleekuil';
    font-weight: 300
}
.addressText{
    width: 350px;
}
.addressText p{
    font-family: 'weblysleekuisb';
    font-weight: 600
}
.labelForm{
    text-align: left;
    margin: 20px 0 -10px 0;
    font-size: 18px;
}