.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'HudsonNYSerif';
  src: url('../public/fonts/Hudson\ NY\ Serif.otf') format('truetype');
}
@font-face {
  font-family: 'weblysleekuil';
  src: url('../public/fonts/weblysleekuil.ttf') format('truetype');
}
/* italic text */
@font-face {
  font-family: 'weblysleekuili';
  src: url('../public/fonts/weblysleekuili.otf') format('truetype');
}
/* Bolt Text */
@font-face {
  font-family: 'weblysleekuisb';
  src: url('../public/fonts/weblysleekuisb.ttf') format('truetype');
}
@font-face {
  font-family: 'weblysleekuisbi';
  src: url('../public/fonts/weblysleekuisbi.ttf') format('truetype');
}
@font-face {
  font-family: 'weblysleekuisl';
  src: url('../public/fonts/weblysleekuisl.ttf') format('truetype');
}
@font-face {
  font-family: 'weblysleekuisli';
  src: url('../public/fonts/weblysleekuisli.ttf') format('truetype');
}

.css-batk84-MuiInputBase-root-MuiFilledInput-root::after{
  border-bottom: 2px solid #000000 !important;
}